GEMINI_API_KEY=
GEMINI_MODEL_ID=gemini-3.7-flash
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ORS_API_KEY=
MAPILLARY_TOKEN=
NEXT_PUBLIC_DEFAULT_CENTER=-122.04584,37.3193
NEXT_PUBLIC_DEFAULT_ZOOM=15
